# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
venv3/
python-env/
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
venv/
ENV/
env/
.venv/

# IDE files
.vscode/
.idea/

# Streamlit
.streamlit/

# macOS
.DS_Store
